.loginDiv {
  max-width: 90%;
  text-align: center;
}

.loginDiv button {
  border-radius: 30px;
  height: 50px;
	font-size: 20px;
}

.loginDiv button img {
  float: left;
  margin-left: 5px;
  width: 44px;
  height: 44px;
}

.loginDiv a {
  text-decoration: none;
  cursor: pointer;
  width: 70%;
}

.loginDiv a img {
  width: 100%;
  height: 50px;
  border-radius: 30px;
}

.loginDiv input {
  border-radius: 8px;
  height: 50px;
}

.loginDiv .loginForm {
  max-width: 80%;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
		height: 50px;
    text-align: center;
		border-bottom: 1px solid rgba(138,150,163,.25);
		box-shadow: 0 0 2px rgba(0,0,0,.16);
		margin: 0;
		position: sticky;
		top: 0px;
    background-color: white;
		z-index: 100;
}
.fa-2x  {
	color: rgba(138,150,163,.25);
}
.active .fa-2x  {
   color:black;
   text-decoration: none;
 }
 
 .active fa-2x:hover,
 .active fa-2x:active,
 .active fa-2x.active {
  color:black;
 }
.body {
	margin: 0;
}
.footer{
	display: none;
}
.navbar a {
	cursor: pointer;
}
@media only screen and (max-width: 770px) {
  .navbar{
		display: none;
		clear: both;
		position: relative;
	}
	.footer{
    display: flex;
		clear: both;
    position: fixed;
    bottom:0;
		top: auto;
		background-color: #fff;
		z-index: 100;
	}
	.post-btn{
		top: 10px !important;
	}
	.home-bottom{
		top: 0px !important;
	}
}

@media only screen and (max-width: 600px) {
	.fa-2x{
		font-size: 20px;
	}
	.image-upload .fa-2x{
		font-size: 30px;
	}
}

/* drop down menu */
.dropdown-menu{
	height: calc(100vh - 50px);
	position: fixed;
	left: calc(100% - 240px);
	width: 240px;
	top: 50px;
	right: 0;
	margin: 0;
	bottom: 0;
}

.dropdown a {
	color: black;
	padding: 10px;
	text-decoration: none;
}
.dropdown a .fa-1x{
	margin-right: 9px;
}
.dropup-menu{
	height: calc(100vh - 50px);
	position: fixed;
	bottom: 42px;
	right: 0;
	margin: 0;
	padding: 8px;
}
.dropup-menu a {
	color: black;
	padding: 10px;
	text-decoration: none;
}
.dropup-menu a .fa-1x{
	margin-right: 9px;
}
.dropup .dropdown-menu {
	top: 0;
	bottom: 42px;
	margin-top: 0;
	width: 240px;
	right: 0;
	float: right;
	left: calc(100% - 240px);
}

/* update settings/profile */

.update-user{
	width: 90%;
	margin: 0 auto;
	padding: 15px;
}
.notice{
	color: green;
	padding: 20px;
}

/* user profile */
.user-profile{
	width: 90%;
	margin: 0 auto;
}
.bg-image{
	height: 250px;
	background-color: cornsilk;
	padding: 20px;
	color: black;
}
.bg-image .fa-1x{
	color: black;
	margin-right: 10px;
}
.bg-image a{
	text-decoration: none;
}
.round-image{
 	width: 100px;
  height: 100px;
	position: relative;
	top: 0;
	left: 0;
}
.round-image img {
	  border-radius: 50%;
    border: #f5f5f5 solid 2px;
    position: absolute;
    width: 100px;
    height: 100px;
    top: -55px;
    left: 30px;
}
.edit-profile {
	width: 170px;
	height: 40px;
	border-radius: 25px;
	border: solid  #2a9df4 1px;
	margin: 12px;
	text-align: center;
	vertical-align: middle;
	padding: 7px;
}
.edit-profile a {
	color:  #2a9df4;
	text-decoration: none;
	cursor: pointer;
}
.edit-profile .fa-1x{
	margin-right: 10px;
	color: #2a9df4;
}
.edit-profile:hover{
	background-color: #d0efff;
}
.usersname-profile{
	padding-left: 25px;
	margin: 0;
}
.usersname-profile p {
	font-weight: 600;
	line-height: 0;
	padding: 0;
	font-size: 18px;
	margin: 5px;
}
.usersname-profile span{
	font-size: 15px;
	color:  gray;
	font-weight: 500;
	padding: 0;
	line-height: 0;
	padding-left: 9px;
}
.bio-profile {
	margin-top: 30px;
}
.bio-profile .fa-1x{
	margin-right: 8px;
}

/* post page */
.postDiv{
	width: 90%;
	margin: 0 auto;
	border-bottom: #cecccc solid 1px;
}
.preview-image{
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}
.preview-image li {
	margin: 5px;
	position: relative;
}
.preview-image li span{
	font-size: 21px;
	font-weight: 500;
  width: 25px;
  height: 27px;
	color: #f5f5f5;
	background-color: #1b99f9;
	z-index: 100;
	position: absolute;
	border-radius: 50%;
	right: 10px;
	text-align: center;
	top: 5px;
	cursor: pointer;
}
.postDiv textarea {
	border: none;
	padding: 0;
}
.postDiv .fa-1x{
	color: black;
	margin-right: 10px;
}
.post-name{
	border-bottom: #cecccc solid 1px;
	padding: 5px 0 5px 0;
}
.image-upload>input {
  display: none;
}
.image-upload .fa-2x{
	color: #cecccc;
	cursor: pointer;
}
.post-btn{
	position: fixed;
  top: 60px;
  right: 30px;
	border-radius: 13px !important;
}
.plus-label{
	background-color: #ebe9e9;
	height: 130px;
	width: 65px;
	text-align: center;
	margin: 5px;
	border-radius: 30px;
	cursor: pointer;
}
.plus-label .fa-2x{
	columns: #bfbdbd;
	margin-top: 40px;

}
.image-username{
	max-width: 280px;
}
.image-username .poster-name{
	font-size: 16px;
	font-weight: 700;
}
.image-username .poster-name:hover{
	text-decoration: underline;
}
.image-username .poster-username{
	font-size: 14px;
	color: #bfbdbd;
}
.image-username .poster-username:hover{
	text-decoration: underline;
	color: #2a9df4;
}
.image-username img{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin-right: 7px;
}

.image-username a{
	color: #000;
  text-decoration: none;
  display: block;
}
.home-bottom{
	height: 60px;
	border-bottom: #cecccc solid 1px;
	position: sticky;
	top: 50px;
  background-color: white;
	padding-top: 10px;
	z-index: 100;
}
.home-div{
	width: 80%;
	margin: 0 auto;
}
.post-header{
	position: relative;
}
.post-date{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 13px;
	color: #918f8f;
}
.post-date .fa-1x{
	margin-left: 7px;
	padding-top: 5px;
}

@media (min-width: 576px) {
	.container, .container-sm {
    max-width: 600px !important;
	}
}

.post-show-images {
	max-height: 500px;
}
.post-date p{
	font-size: 13px;
	margin-right: 8px;
	display: inline-block;
	margin-top: 5px;
}
.post-date {
	right: 35px;
	display: flex;
}
.post-dots .fa-2x{
	display: inline-block;
}
.fa-2x {
	font-size: 30px !important;
}
.post-dots .post-dropdow{
	  position: absolute;
    transform: translate3d(0px, 74px, 0px);
    top: 0px;
		right: 0px;
		height: auto;
		max-width:  170px;
		border-radius: 18px;
}
.post-dots .dots{
	padding: 0px;
}
.post-comment .fa-2x{
	font-size: 21px !important;
	color: #e0e2e4;
	margin-right: 15px !important;
	cursor: pointer;
}
.post-comment .fa-2x:hover{
	color: #2a9df4;
}
.post-comment .tip-dollar{
	margin-right: 0px !important;
}
.post-icons{
	width: 35%;
}
.singlePost{
	width: 90%;
	margin: 0 auto;
}
/* comment section */
.comment-box{
	background-color: #f3f4f5;
}
.comment-tbox{
	width: 85%;
}
.comment-tbox form textarea {
	border: none;
	background-color: #f3f4f5;
	width: 100%;
	color: black;
}
.comment-tbox form textarea:focus{
	background-color: #f3f4f5;
	color: black;
}
.comment-tbox form {
	width: 100%;
	position: relative;
}
.comment-tbox form button {
	  position: absolute;
    right: -60px;
    top: 4px;
		background-color: #2a9df4;
		border-radius: 50%;
		columns: #ffffff;
		padding: 7px;
		border: none;
}
.comment-tbox form button .fa-2x{
	font-size: 24px !important;
	color: #fff !important;
}
.comment-tbox img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 7px;
}
.comment-display a img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 12px;
}
.like-comment{
	margin-left: auto;
	color: #dcd9d9 !important;
	cursor: pointer;
	font-size: 18px !important;
}

.like-comment:hover{
	color: #2a9df4 !important;
}
.disappear{
	display: none;
}
.show-modal{
	z-index: 2000;
}
.comment-delete a{
	color: #918f8f;
	text-decoration: none;
	cursor: pointer;
}
.b-blue{
	color: #0894ff !important;
}
/*# sourceMappingURL=main.css.map */